.tr {
   
    border-collapse: collapse;
}

.td {
    border: 1px solid black !important;
    border-collapse: collapse;
}

.imgclient{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
}